body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.header-logo {
    color: white;
    font-size: 80px;
    font-weight: 900;
    padding-top: 80px;
}

.header-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 120px;
    padding-left: 100px;
}

img {
  border-radius: 50%;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
    margin-bottom: 100px;
    gap: 200px;
  }

a {
  text-decoration: none;
  color: lightgoldenrodyellow;
}

ul {
  list-style-type: none;
}

.link-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: mintcream;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  color: white;
}

.info {
  display: flex;
  margin-bottom: 26px;
  font-size: 34px;
  font-weight: bold;
}
 
button {
  background-color: #3882F6;
  padding: 12px 18px;
  border-radius: 8px;
}

button:hover {
  background-color: red;
}

.one,
.two,
.three {
  font-size: 36px;
}

li:hover {
  background-color: blue;
}